@charset "UTF-8";
.myp{
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    white-space: pre-wrap;
    font-family:monospace, serif;
}
.mytextarea{
    display: inline-block;
    width: 100%;
    padding: 10px;
    border: 1px solid #999;
    box-sizing: border-box;
    margin: 0.5em 0;
    height: 10em;
}