@charset "UTF-8";
.prewrap{
    white-space: pre;
    padding-left: 1em;
}
.mytextarea{
    display: inline-block;
    width: 100%;
    padding: 10px;
    border: 1px solid #999;
    box-sizing: border-box;
    margin: 0.5em 0;
    height: 10em;
}